# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log

# Environment Variables
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
htmlcov/
.coverage

# Build Artifacts
dist/
build/
*.zip