# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
*.tfvars
*.tfplan

# Environment variables and secrets
.env
*.pem
*.key

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
htmlcov/
.coverage

# Build artifacts
dist/
build/
*.zip

# Tool caches
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/